body{
    cursor: none;
    overflow: hidden;
}

#cursor{
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../img/fly.png");
    background-size: contain;
    pointer-events: none;
    transform-origin: center;
    top: -10%
}

#contenedor {
    width: 100vw;
    height: 100vh;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen {
    width: 200px;
    aspect-ratio: 1;
    position: absolute;
}

#imagen img {
    width: 100%;
}

#imagen > span{
    display: block;
    width: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
}

#ojoDerecho {
    top: 72px;
    left: 53px;
}

#ojoIzquierdo {
    top: 72px;
    right: 53px;
}

#imagen>span::before {
    content: "";
    display: block;
    width: 10px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}